<div class="container my-5">
  <div class="row my-3">
    <div class="col-md-6 text-center">
      <div class="dropdown">
        <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{#if filterMonth}}
          {{{filterMonth}}} 月
          {{else}}
          月份
          {{/if}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/?filterMonth=&filterCategory={{filterCategory}}">不按月份</a>
          {{#each monthArray}}
          <a class="dropdown-item"
            href="/?filterMonth={{this.number}}&filterCategory={{filterCategory}}">{{this.name}}</a>
          {{/each}}

        </div>
      </div>
    </div>
    <div class="col-md-6  text-center">
      <div class="dropdown">
        <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton2"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

          {{#if filterCategory}}
          {{{filterCategory}}} 類
          {{else}}
          類別
          {{/if}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
          <a class="dropdown-item" href="/?filterCategory=&filterMonth={{filterMonth}}">不按類別</a>
          <a class="dropdown-item" href="/?filterCategory=home&filterMonth={{filterMonth}}">家居物業</a>
          <a class="dropdown-item" href="/?filterCategory=shuttle-van">交通出行</a>
          <a class="dropdown-item" href="/?filterCategory=grin-beam&filterMonth={{filterMonth}}">休閒娛樂</a>
          <a class="dropdown-item" href="/?filterCategory=utensils&filterMonth={{filterMonth}}">餐飲食品</a>
          <a class="dropdown-item" href="/?filterCategory=pen&filterMonth={{filterMonth}}">其他</a>
        </div>
      </div>
    </div>
  </div>
  <h1 class="text-center my-5">總金額：　{{{totalAmount}}}</h1>
  <ul class="list-group">
    {{#each records}}
    <li class="list-group-item">
      <div class="row">
        <div class="col-auto">
          <i class="fas fa-{{{this.category}}}" style="font-size: 2em; line-height: 1em"></i>
        </div>
        <div class="col-auto  mr-auto">
          <span class="d-block" style="line-height: 1em">{{{this.name}}}</span>
          <span style="font-size: 0.5em; line-height: 0.5em">{{{this.date}}}</span>
        </div>
        <div class="col-auto">
          <h6 class="text-right" style="line-height: 2em">{{{this.amount}}}</h6>
        </div>
        <div class="col-auto">
          <a href="/records/{{{this.id}}}/edit" class="btn btn-outline-dark">修改</a>
          <form action="/records/{{{this.id}}}?_method=DELETE" method="POST" style="display: inline">
            <button type="submit" class="btn btn-outline-dark">刪除</button>
          </form>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
  <div class="row mt-3">
    <div class="col-4 m-auto">
      <a href="/records/new" class="btn btn-outline-dark w-100">新增支出</a>
    </div>
  </div>

</div>